:root {
    --main-color: rgb(0, 114, 69);
    --head-text: #2e332e ;
    --lightgeen1-box: #d6e5d8 ;
}

body {
    background: rgb(243, 255, 255);
}


/* Start local */

.w-h-img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.m-bot-m-top {
    padding-bottom: 65px;
    padding-top: 65px;
}


h3 {
    color: var(--main-color);
}
h4 {
    color: var(--head-text);
}
h1 {
    color: var(--head-text);
}
h2 {
    color: var(--head-text);
    font-weight: 700;
}
p {
    line-height: 1.5;
}

.hold-stars {
    width: 130px;
    margin-bottom: 20px ;
}
.hold-stars img{
    width: 100%;
}
/* End local */


/* Start navbar */
.navbar .navbar-nav .nav-link {
    color: #242424;
    font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
    color: var(--main-color);
}

.Book-Table {
    background: var(--main-color);
    padding: 8px 25px;
    border: none;
    outline: none;
    color: white;
    border-radius: 7px;
}
/* End navbar */



/* Start Explore Our Menu */
.hold-specials {
    background-color: var(--lightgeen1-box);
}
/* End Explore Our Menu */


/* Start Footer */
footer {
    background-color: #e2e2e2;
}
footer ul {
    padding: 0;
    padding-top: 20px;
    margin: 0;
}
footer ul li{
    list-style: none;
    padding: 3px;
    font-size: 18px;
}
footer  a{
    text-decoration: none;
    color: black;
    
}
/* End Footer */

